@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Share+Tech+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.container {
  width: 1200px;
  margin: auto;
}
body {
  background-color: #b1b2b3;
  font-family: "Share Tech Mono", monospace;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  overflow: visible;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-brand {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.nav-item {
  padding: 0 20px;

  position: relative;
  transition: transform 0.5s ease;
  cursor: pointer;
}
.navbar-nav {
  font-size: 20px;
  display: flex;
  list-style: none;
  position: relative;
}
.nav-item:hover {
  text-decoration: underline;
}
.nav-item a.active {
  color: #393e46;
  text-decoration: underline;
}
.text {
  margin-top: 320px;
  font-size: 40px;
  letter-spacing: 1px;
  font-family: monospace;
  border-right: 5px solid;
  width: 79%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s, cursor 0.4s step-end infinite alternate;
}

/* cursor blinking */
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

/* typing effect */
@keyframes typing {
  from {
    width: 0;
  }
}
.row {
  display: flex;
}
.col-6 {
  width: 50%;
}
img {
  margin-top: 270px;
  margin-left: 300px;
  border: 1px solid;

  cursor: pointer;
  width: 300px;
  height: 250px;
  transition: transform 0.4s ease;
}
img:hover {
  transform: scale(1.1);
}
@media (max-width: 2560px) {
  .text {
    margin-top: 380px;
    font-size: 45px;
    letter-spacing: 1px;
    font-family: monospace;
    border-right: 5px solid;
    width: 89%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s, cursor 0.4s step-end infinite alternate;
  }
  .col-6 p{
    font-size: 25px;
  }

  img {
    margin-top: 390px;
    margin-left: 230px;
    border: 1px solid;
    cursor: pointer;
    width: 370px;
    height: 320px;
    transition: transform 0.4s ease;
  }
}
